body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dashboard-container {
  width: 90%;
  margin: 2rem auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

table td,
table th {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.selected {
  background-color: #ddddddd7;
}
.pageActive {
  border: 1px solid rgb(223 71 89 / 60%);
  transform: scale(1.2);
  transition: 450ms ease-in-out;
}

tbody tr:hover {
  border: 2px dotted #989797;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.table-container table tbody tr:first-child td:first-child {
  min-width: 50px;
}
.table-container table tbody tr:first-child td:not(:first-child) {
  min-width: 120px;
}

.Global-actions-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.search-bar {
  border: 1px solid #ddd;
  outline-color: #ea43439e;
  border-radius: 4px;
  padding: 2px 8px;
  width: 15rem;
}

.Global-delete-container {
  background-color: rgb(223 71 89 / 60%);
  border-radius: 6px;
  width: 28px;
  height: auto;
  cursor: pointer;
  display: grid;
  place-content: center;
}
.Global-delete-container:hover {
  filter: saturate(4);
  transform: scale(1.1);
  transition: 350ms ease-in-out;
}
.Global-delete-icon {
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 15px;
  min-width: 320px;
  flex-wrap: wrap;
}
.pag-conatiner {
  display: flex;
  gap: 10px;
}
.page-num {
  display: flex;
  gap: 5px;
}
.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
  color: #6a6767;
}

.page-btn {
  max-height: 21.6px;
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 23rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-group input,
.form-group select {
  border: 1px solid #bebebe;
  border-radius: 0.4rem;
  font-size: 15px;
  outline-color: #ea43439e;
  padding: 4px 8px;
}

.form-group label {
  margin-bottom: 0.2rem;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button.btn {
  margin-top: 1rem;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
}

button.submit-btn {
  background-color: rgba(223, 71, 89, 0.837);
}
button.cancle-btn {
  background-color: #1d42d8e7;
}
button.save-btn {
  background-color: #2de586;
}

button.submit-btn:hover,
button.cancle-btn:hover,
button.save-btn:hover {
  filter: saturate(4);
  transform: scale(1.1);
  transition: 250ms ease-in-out;
}
button.save-btn:hover {
  filter: saturate(1);
}
.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

@media (min-width: 280px) and (max-width: 700px) {
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
}
@media (min-width: 280px) and (max-width: 370px) {
  .pag-conatiner {
    flex-flow: column-reverse;
  }
}
